<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backup index</title>
</head>
<body>
    <h1>Please send your comment</h1>
    <form action="analyzer/" method="post">
        <textarea name="text" id="" cols="30" rows="10" style="height: 448px; width: 1245px;"></textarea>
        <br>
        <input type="checkbox" name="removepunc">I want to remove punctuation<br>
        <input type="checkbox" name="capfirst">I WANT TO CAPITALIZE THE LETTER<br>
        <input type="checkbox" name="newlineremove">I want to to remove extraspaces<br>
        <input type="checkbox" name="spaceremove">I want to remove newline<br>
        <input type="checkbox" name="charcount">I want to count total characters<br>


        <button type="submit">Submit</button>

    </form>
</body>
</html>